@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
body,
html {
  

  
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  --c0:#062926;
  --c1:#018175;
  --c2Lighter:#12c498;
  --c2:#10b68d;
  --c3:#5ed179;
  --c4:#FEE3B2;
  --c5Lighter: #2d2d2d;
  --c5:#1c1c1c;
  --c6:#f13e38;
  --c7:rgb(224, 200, 68);
  --c8:rgb(22, 38, 51);
  --c9:white;
  --c10:#fafaf6;
  --rareSpin:rgb(93, 93, 93);

  background-color: var(--c10);
  color : var(--c0);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  padding:0;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  color: var(--c0); 
  background: var(--c10);
  
  
}

header {
  box-sizing: border-box;
  width:100vw;
  display: flex;
  position:fixed;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}
button {
  margin:0;
  padding:0;
  border:0;
  background-color: transparent;
  cursor: pointer;
}
#headerTitle {
  font-size: 1.5em;
  font-weight: 700;
}
.loginBtn {
 background-color:var(--c5);
 color:var(--c10);
 padding:0.5em;
 padding-left:1em;
 padding-right:1em;
border-radius: 0.45em;
font-weight: 550;
}
.signupBtn {
  border: 0.15em solid var(--c5);
 color:var(--c5);
 padding:0.35em;
 padding-left:0.85em;
 padding-right:0.85em;
border-radius: 0.45em;
font-weight: 550;
}
.landingPageTitle {
  margin-top: 3em;
  font-size: 5em;
  font-weight: 500;
  align-self: flex-start;
  margin-left: 1em;
}